<%= @text %>
<% if @to == 'users' %>
    <b><a href='http://qd.mindpowergame.com/user_subscriptions/<%= @token %>/unsubscribe'>Отписаться</a></b>
<% else %>
    <b><a href='http://qd.mindpowergame.com/subscribes/<%= @token %>>/unsubscribe'>Отписаться</a></b>
<% end %>