<% provide :title, 'Вопросы' %>
<p id="notice"><%= notice %></p>

<h1>Вопросы</h1>
<br/>

<table class="table table-bordered">
    <thead>
        <tr class="info">
            <% if current_user.is_admin? %>
                <th>ID</th>
                <th>Название</th>
                <th>Время</th>
                <th colspan="3">Действия</th>
            <% else %>
                <th>Название</th>
                <th>Время публикации вопроса</th>
                <th>Ваш ответ</th>
                <th>Правильный ответ</th>
                <th>Вердикт</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% if current_user.is_admin? %>
            <% @questions.each do |question| %>
                <tr>
                    <td><%= question.id %></td>
                    <td><%= question.title %></td>
                    <td><%= question.time %></td>
                    <td><%= link_to 'Показать', question %></td>
                    <td><%= link_to 'Редактировать', edit_question_path(question) %></td>
                    <td><%= link_to 'Удалить', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        <% else %>
            <% @questions.each do |question| %>
                <% if question.time < current_question.time %>
                    <% answer = @answers.where(:question_id => question.id).first %>
                    <tr>
                        <td><%= link_to question.title, question %></td>
                        <td><%= (question.time - 1.hour).strftime("%d.%m.%Y %H:%M") %></td>
                        <td>
                            <% unless answer.nil? %>
                                <%= answer.text %>
                            <% end %>
                        </td>
                        <td>
                            <%= question.answer %>
                        </td>
                        <td>
                          <% unless answer.nil? %>
                              <% if answer.status %>
                                Правильный ответ
                              <% else %>
                                Отклонен
                              <% end %>
                          <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
<br>
<% if current_user.is_admin? %>
    <%= link_to 'Новый вопрос', new_question_path %>
<% end %>
