<% if @question.time < current_question.time || current_user.is_admin? %>

    <% provide(:title, 'Вопрос дня, дата: ' + (@question.time - 1.hour).strftime('%d.%m.%Y').to_s) %>

    <p id="notice"><%= notice %></p>

    <% if @question.time != current_question.time %>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Название:</td>
                    <td><%= @question.title %></td>
                </tr>
                <tr>
                    <td>Опубликован:</td>
                    <td><%= (@question.time - 1.hour).strftime("%d.%m.%Y в %H:%M") %> по Московскому времени (UTC+3)</td>
                </tr>
                <tr>
                <tr>
                    <td>Аудио:</td>
                    <td><audio src="<%= @question.audio.url %>" id="audio" controls></audio></td>
                </tr>
                <tr>
                    <td>Текст:</td>
                    <td><%= @question.text %></td>
                </tr>
                <% if @question.image.url != nil %>
                <tr>
                    <td>Изображение:</td>
                    <td><%= image_tag @question.image.url %></td>
                </tr>
                <% end %>
                <tr id="answer" style="display: none;">
                    <td>Правильный ответ:</td>
                    <td>
                        <% if @question.time != current_question.time %>
                            <%= @question.answer %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>Ваш ответ:</td>
                    <td>
                        <% if @answer != nil %>
                            <%= @answer.text %>
                        <% end %>
                    </td>
                </tr>
                <tr id="comment" style="display: none;">
                    <td>Комментарий:</td>
                    <td><%= @question.comment %></td>
                </tr>
            </tbody>
        </table>
        <a id="showbtn" class="btn btn-lg">Показать ответ и комментарий</a>
    <% else %>
      [это текущий вопрос дня, ответ недоступен до публикации следующего]
    <% end %>

    <% if current_user.is_admin? %>
        <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Имя Фамилия</th>
                    <th>Текст ответа</th>
                    <th>Время ответа</th>
                    <th colspan="2">Вердикты</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
                <% @question.answers.where("status IS NULL").each do |answer| %>
                    <tr id="<%= answer.id %>">
                        <td><%= answer.user.name %> <%= answer.user.surname %> (<%= answer.user.id %>)</td>
                        <td><%= answer.text %></td>
                        <td><%= answer.created_at.strftime("%d.%m.%Y, в %H:%M") %></td>
                        <td>
                            <%= form_for [@question, answer], remote: true do |f| %>
                                <%= f.hidden_field :status, value: false %>
                                <%= f.submit value: "Отклонить" %>
                            <% end %>
                        </td>
                        <td>
                            <%= form_for [@question, answer], remote: true do |f| %>
                                <%= f.hidden_field :status, value: true %>
                                <%= f.submit value: "Принять" %>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to 'Удалить', question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Вы уверены?' }, remote: true %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to 'Редактировать', edit_question_path(@question) %> |
        <%= link_to 'Назад', questions_path %>
    <% end %>
<% end %>
<script language="javascript">
    $("#showbtn").click(function(){
        $("#answer").show();
        $("#comment").show();
        $("#showbtn").remove();
    });
</script>
