          <div class="col-lg-4">
<h2>Регистрация</h2>
<p class="alert"><%= alert %></p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, value: "Имя"  %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :surname, value: "Фамилия" %><br />
    <%= f.text_field :surname, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email, value: "E-mail" %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :acc_type, value: "Тип аккаунта" %><br />
    <label id="user_type_valueuser"> Пользователь
    <%= f.radio_button :acc_type, "user" %>
    <label> Команда
    <%= f.radio_button :acc_type, "command" %>
  </div>

  <div class="field" id="amt" style="display: none;">
    <%= f.label :amt, value: "Количество участников" %><br />
    <%= f.text_field :amt, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, value: "Пароль" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, value: "Пароль повторно" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script language="javascript">
  
  $("input#user_acc_type_user").change(function(){
    $("#amt").css("display", "none"); 
    $("#amt").attr("disabled", "true");
  });

  $("input#user_acc_type_command").change(function(){
    $("#amt").css("display", "block");
    $("#amt").attr("disabled", "false");
  });
</script>
</div>