<h1>Editing User</h1>

<%= render 'form' %>
<ul>
  <% Subscription.all.each do |s| %>
      <li>
        <%= s.title %>
        <% if @user.user_subscriptions.where(:subscription_id => s.id).empty? %>
            <%= form_for(@subscription, remote: true) do |f|%>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :subscription_id, value: s.id %>
                <%= f.check_box "subscription", checked: false %>
            <% end %>
        <% else %>
            <%= form_for(@user.user_subscriptions.where(:subscription_id => s.id).first, method: :delete, remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :subscription_id, value: s.id %>
                <%= f.check_box "subscription", checked: true %>
            <% end %>
        <% end %>
      </li>
  <% end %>
</ul>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<script language="JavaScript">
    $("input[name='user_subscription[subscription]']").click(function(){
        $(this).parent().trigger('submit.rails');
    });
</script>