<p id="notice"><%= notice %></p>

<h1>Пользователи</h1>
<br/>
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>vk</th>
      <th>E-mail</th>
      <th>Админ?</th>
      <th colspan="3">Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.vk %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin? %></td>
        <td><%= link_to 'Показать', user %></td>
        <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
        <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пользователь', new_user_path %>
