<p id="notice"><%= notice %></p>
<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: name %>
<% end %>

<h1><%= @user.name %> <%= @user.surname %></h1>

<p>
    <label for="writename">Сменить имя и фамилию аккаунта на те, что указаны в социальной сети</label>
    <input type="checkbox" id="writename" name="writename">
</p>
<%= render 'devise/shared/social' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script language="javascript">
    $('#writename').on("click", function(){
        if($('#writename').is(':checked')){
            document.cookie = "writename=true;";
        }else{
            document.cookie = "writename=false;";
        }
    });
</script>
