<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @delivery.topic %>
</p>

<p>
  <strong>Text:</strong>
  <%= @delivery.text %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @delivery.subscription_id %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
