var vid = document.getElementById("audio");
var otbivka = document.getElementById("otbivka");
otbivka.pause();
vid.pause();

$("#quest_text").remove();
$("#countdown1").remove();
$("#countdown2").remove();
$("#quest_img").remove();
$("#content").html("");
$("#content").append("<%= j render template: 'pages/endgame', :locals => { :text => @answer.text } %>");
$("#new_answer").remove();

<% unless current_user %>
    $("#right").show();
    $("#right").append("<%= j render template: '/devise/registrations/new' %>");
<% end %>
//$("#jjj").append("<%= j render '/layouts/table', :locals => {:report => @report} %>")
$("#timer").remove();
$("#answer").remove();