<p id="notice"><%= notice %></p>

<h1>Listing Answers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th>Text</th>
      <th>Status</th>
      <th>Question</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.user.surname %></td>
        <td><%= answer.user.name %></td>
        <td><%= answer.text %></td>
        <td><%= answer.status %></td>
        <td><%= answer.question_id %></td>
        <td><%= answer.created_at.strftime("%d.%m.%Y, в %H:%M") %></td>
        <td><%= link_to 'Show', question_answer_path(answer.question, answer) %></td>
        <td><%= link_to 'Edit', edit_question_answer_path(answer.question, answer) %></td>
        <td><%= link_to 'Destroy', question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_question_answer_path %>
