<% provide :title, "Рейтинг" %>

<table class="table table-bordered table-striped">
    <tr class="info">
        <th>№</th>
        <th>Имя Фамилия</th>
        <th>Ответов</th>
        <% @questions.each do |q| %>
            <th><%= q.time.strftime("%d.%m")%></th>
        <% end %>
    </tr>
    <tbody>
        <tr>
            <td colspan="3">Сыграло</td>
            <% @questions.each do |q| %>
                <td>
                    <%= q.answers.count %>
                </td>
            <% end %>
        </tr>
        <tr>
            <td colspan="3">Дали правльный ответ</td>
            <% @questions.each do |q| %>
                <td>
                    <%= q.answers.where(:status => true).count %>
                </td>
            <% end %>
        </tr>
        <% @users.sort_by { |user| user.rating }.reverse.each_with_index do |user, i| %>
            <% if user.answers.count > 0 %>
                <tr>
                    <td><%= i + 1%></td>
                    <td><%= user.name %> <%= user.surname %></td>
                    <td>
                        <%= user.rating %>
                    </td>
                    <% @questions.each do |q| %>

                        <% a =  q.answers.where(:user_id => user.id).first %>
                        <% if a.nil? %>
                            <td>

                            </td>
                        <% else %>
                            <% if a.status %>
                                <td class="success">
                                    +
                                </td>
                            <% else %>
                                <td class="danger">
                                    &ndash;
                                </td>
                            <% end %>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<style>
    .success, .danger {
        font-size: 18pt;
        text-align: center;
        font-weight: bold;
    }
</style>