<% if answer.status %>
    $("tr#" + <%= answer.id %>).html("<td><%= answer.user.name %><%= answer.user.surname %> (<%= answer.user.id %>)</td><td><%= answer.text %></td><td colspan='2'>Принят</td><td><%= j link_to 'Удалить', question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Вы уверены?' }, remote: true %></td>");
<% else %>
    $("tr#" + <%= answer.id %>).html("<td><%= answer.user.name %><%= answer.user.surname %> (<%= answer.user.id %>)</td><td><%= answer.text %></td><td colspan='2'>Отколнен</td><td><%= j link_to 'Удалить', question_answer_path(answer.question, answer), method: :delete, data: { confirm: 'Вы уверены?' }, remote: true %></td>");
<% end %>
