  <div id="wrapper">
    <div class="container">
      <div>
        <div class="row">
          <div class="col-lg-6">
<style>
.panel, .panel-heading {
   border-radius: 0px !important;
}

.panel .panel-heading h3 {
   font-size: 24px !important;
}
.panel-body > p #timenext {
   font-size: 24px !important;
}
.panel .panel-body p {
   font-size: 20px !important;
}
.panel .panel-body-success {
   background-color: #F0FFF0 !important;
}
.panel .panel-body-primary {
   background-color: #99CCFF!important;
}
</style>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Ваш ответ "<%= text %>" принят!</h3>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Завтра вопрос будет выложен в 18:00 по Московскому времени</h3>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Рейтинг игроков</h3>
  </div>
  <div class="panel-body">
    <p>Зайдите в наш <a href="http://qd.mindpowergame.com/rating" target="_blank">рейтинг игроков</a>, чтобы оценить своё положение относительно других игроков.</p>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Архив вопросов</h3>
  </div>
  <div class="panel-body">
    <p>В <a href="http://qd.mindpowergame.com/questions" target="_blank">архиве вопросов</a> можно посмотреть вопрсосы, которые мы публиковали в предыдщуих выпусках "Вопроса дня".</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Оставьте отзыв в Google Forms:</h3>
  </div>
  <div class="panel-body">
    <p>Оставьте комментарий об ошибках, предложения, улучшениях <a href="https://docs.google.com/forms/d/1TStifYjZQyhB3YLqx5OWbSomTJYyXdvhO_KnlAPNpz8/viewform" target="_blank">по ссылке</a>.</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Подписывайтесь на нас в социальных сетях</h3>
  </div>
  <div class="panel-body">
    <p>Подписывайтесь на нас <a href="http://vk.com/mindpowergame" target="_blank">ВКонтакте</a> и получайте оперативно самую последнюю информацию о проекте!</p>
  </div>
</div>


</div>
</div>
</div>
</div>
</div>
