  <div id="wrapper">
    <div class="container">
      <div>
        <div class="row">
          <div class="col-lg-12">
<h2>
    Ответы на важные вопросы
</h2>
<p>
    <strong>Привет! Что это такое происходит?</strong>
</p>
<p>
    Наша небольшая команда запускает проект «Вопрос дня» в режиме бета-тестирования. «Вопрос дня» это интеллектуальная разминка, в которой каждый день
    публикуется один бесплатный вопрос, на который могут ответить игроки. Администраторы (жюри) вечером того же дня принимают решения по зачету ответов. На
    следующий день появляется ответ на вопрос предыдущего дня и запускается новый вопрос дня. Правильный ответ на следующий день видят только
    зарегистрированные пользователи, которые ответили на этот вопрос.
</p>
<p>
    <strong>Что значит «бета-тестирование» и как долго оно продлится? </strong>
</p>
<p>
    Это значит, что на данный момент на сайте могут быть ошибки и они там есть: не гарантируется корректная работа на любом оборудовании. Мы просим сообщать нам
    о всех ошибках, недочетах и пожеланиях бета-тестеров. Режим бета-тестирования продлится примерно с 3 по 10 июля. В этот период сайт будет активно меняться, 
    возможны отключения проекта на небольшие промежутки времени.
</p>
<p>
    <strong>В бета-тестировании смогут принять участие все желающие? </strong>
</p>
<p>
    Нет, только те, кто оставили свой e-mail в форме записи на бета-тестирования на главной странице сайта. Пользователи, которых нет в списке подписавшихся,
    не смогут зарегистрироваться на данный момент.
</p>
<p>
    <strong>С каких устройств доступен отыгрыш «Вопроса дня»?</strong>
</p>
<p>
    На данный момент бета-версия рассчитана на игру с персонального компьютера или ноутбука под управлением Windows, Linux или MacOS X.
</p>
<p>
    Известные ошибки:
</p>
<p>
    &mdash; Возможны проблемы с Mozilla Firefox и браузерами, основанными на нём.
</p>
<p>
    &mdash; Точно известно, что на большей части (если не на всех) iPhone и iPad отыгрыш невозможен в связи с отсутствием поддержки библиотеки jQuery (стандартной
    версии этой библиотеки, которую мы используем) в мобильном браузере Safari.
</p>
<p>
    <strong>Как будет выглядеть игровой процесс?</strong>
</p>
<p>
    <img src="/images/screen.png" />
</p>
<p>
    <strong>Будет ли рейтинг игроков?</strong>
</p>
<p>
    Да, будет, ориентировочно начиная с 7 июля.
</p>
<p>
    <strong>Когда я узнаю правильный ответ на сегодняшний вопрос?</strong>
</p>
<p>
    Завтра, после публикации следующего.
</p>
<p>
    <strong>Почему зарегистрированные 2 июля пользователи на сутки были отключены?</strong>
</p>
<p>
    Потому что с их помощью были выявлены ошибки и нужно было подготовить сайт к запуску в стадии бета-тестирования. С высокой вероятностью такого больше не
    повторится.
</p>
</div>
</div>
</div>
</div>
</div>
