<% provide(:title, "Вопрос дня") %>
<style>
#quest_text{
  font-size: 17px;
}

#quest_img{
  max-height: 250px;
}

body{
  background: url(<%= asset_path("bg.jpg") %>);
  background-size: cover;
}

body > .navbar {
  opacity: 0.6;
  background: rgba(0,0,0,0);
  box-shadow: none !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000000;
}

footer {
  box-shadow: none !important;
  background: none !important;
  border-top: none !important;
  opacity: 0.7;
  color: #fff;
}

footer .row {
    padding-bottom: 0 !important;
}

#zet{
  position: relative;
  padding: 0;
}

#zet h1 {
  /*width: 650px;*/
  color: #fff;
  font-size: 47pt;
  font-family: 'pfhighway' !important;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#zet p {
  color: #fff;
  font-size: 15pt;
  font-family: 'pfhighway' !important;
  line-height: 30px;
}

#zet #play {
  color: #fff;
  background: #BD9C7C;
  border-radius: 0;
  border: 1px solid #fff;
}

.play {
    color: #fff;
    background: #BD9C7C;
    border-radius: 0 !important;
    display: inline;
    border: 1px solid #fff;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 20px 75px;
  font-size: 27px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-lg {
    height: 78px;
    padding: 14px 10px;
    border: none;
    border-radius: 0;
    vertical-align: bottom;
}

@media screen and (max-width: 768px){
    body {
        background-image: none !important;
        background: #fff !important;

    }
    body > .navbar {
        opacity: 1 !important;
        background: #fff;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000 !important;
    }
    #zet h1 {
        color: #000;
    }

    #zet p {
        color: #000;
    }
}
</style>
<% unless current_question.nil? %>


  <div id="zet" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <!--
    <center>
      <p>Играть Вопрос дня на <%= current_question.time.strftime("%d.%m.%Y") %></p>
    </center>
    -->
    <h1 class="col-xs-12 col-sm-8 col-lg-12">Интеллектуальная разминка на каждый день</h1>
    <p class="col-lg-8 col-sm-8 col-xs-8">
        Каждый день подписчикам проекта становится доступен бесплатный вопрос, которого нет в интернет-базах вопросов. Удобный и познавательный способ саморазвития всего за 5 минут в день. Отвечайте на вопросы сами, командой или семьей!
        <br/><br/>
    <% if current_user %>
        Вы успешно зарегистрированы в бета-тестировании проекта. Для начала игры нажмите на кнопку:</p><br/>
        <!--<button id="play" class="btn btn-lg">Играть «Вопрос дня»!</button>-->
	<%= link_to "Перейти к игре", play_path, class: "btn btn-lg play col-lg-6" %>
    <% else %>
        <p class="col-lg-8 col-sm-8 col-xs-8">Зарегистрируйтесь как игрок в режиме бета-тестирования:</p><br/>
	<p class="col-lg-8 col-sm-8 col-xs-8"><%= link_to "Регистрация", "http://qd.mindpowergame.com/users/sign_up", class: "btn btn-lg play col-lg-6" %></p>
    <% end %>
    
  </div>
<% end %>
