  <div id="wrapper">
    <div class="container">
      <div>
        <div class="row">
          <div class="col-lg-12">
<h2>
    Администраторам информационных ресурсов об интеллектуальных играх
</h2>
<p>
    Мы, Максим Тепленёв и Вячеслав Гаранович, запустили проект «Вопрос дня», где каждый день будет появляться один бесплатный, несложный и приятный вопрос
    (которого нет в открытых интернет-базах вопросов). Пользователи дают свои ответы на вопрос дня, администраторы (жюри) вечером того же дня принимают решения
    по зачету ответов. На следующий день появляется ответ на вопрос предыдущего дня и запускается новый вопрос дня. Простой, удобный и интересный сервис,
    основанный на потребностях аудитории, которая интересуется интеллектуальными играми.
</p>
<p>
    <strong>Мы приглашаем вас стать нашими партнерами.</strong>
</p>
<br/>
<p>
    Пара слов о том, чем это может быть вам полезно. Мы хотели бы поделиться небольшим наблюдением. В социальных сетях ВКонтакте и Facebook есть много «локальных» групп,
    посвященных интеллектуальным играм. Мы внимательно изучаем аудиторию таких групп и сделали любопытный вывод: в очном формате в своем городе играют, в
    среднем, всего около 10% их участников. В средней группе 300 человек, значит можно сказать, что из них «вживую»играет примерно 30.
</p>
<p>
    Очевидно, что в группах много тех, кто по тем или иным причинам не приходит на игры, хотя мог бы.
</p>
<p>
    Да, у кого-то по-настоящему напряженный график работы, кто-то сидит дома с детьми, кто-то живёт не в самом городе, а в крае/области и подписан по принципу
    ближайшего географического клуба. Кто-то стесняется показаться глупым, находясь в плену стереотипа «ЧГК – это только для очень умных и много знающих
    людей».
</p>
<p>
    Поверьте нашему пониманию аудитории. Выберите случайным образом 30 человек из вашей группы и посмотрите, сколько среди них тех, кто подпадает под описанные
    выше категории.
</p>
<br/>
<p>
    Вот почему мы считаем, что «Вопрос дня» полезен для администраторов самых разных информационных ресурсов, это проект именно для описанной выше аудитории.
</p>
<p>
    &mdash; Это бесплатно для вас и для игроков – каждый день пользователи играют один бесплатный вопрос дня, а с вас мы не берем платы за подключение к проекту.
</p>
<p>
    &mdash; Мы выкладываем каждый день один незасвеченный в интернете вопрос, в отличии от некоторых проектов, которые берут вопросы из всем известной базы вопросов.
</p>
<p>
    &mdash; Мы строим рейтинг пользователей на основе ответов (в других проектах человек не имеет возможности оценить себя относительно других пользователей, так как
    нет интерфейса приёма ответов и вынесения вердиктов жюри).
</p>
<p>
    &mdash; Подключение и взаимодействие с проектом требуют очень мало времени – просто делайте каждый день репост «Вопроса дня» из нашей группы ВКонтакте.
</p>
<p>
    Такой формат сотрудничества – это, с нашей точки зрения, ситуация win-win и для нас, и для вас: мы получаем бесплатную аудиторию для «Вопроса дня», а вы
    позволяете играть и постепенно вливаться в движение той части аудитории вашей группы ВКонтакте, Фейсбуке или другом ресурсе, которая могла бы играть, но не
    может по объективным/субъективным причинам.
</p>
<br/>
<p>
    Заметьте, что эти люди уже подписаны на ваш информационный ресурс – то есть если они решатся на участие в очных играх – они, с высокой
    вероятностью, придут к вам. И, конечно, важно то, что вы вносите разнообразие в жизнь того информационного ресурса, которым управляете.
</p>
<p>
    При этом сразу хотелось бы внести ясность: пожалуйста, не верьте тому, что людям «не интересно играть без команды» - та аудитория, о которой мы говорили
    выше, чаще всего думает об этом по-другому, не так, как игроки ЧГК на очных играх, с которыми вы, скорее всего, общаетесь. Если вопросы не очень сложные,
    если их можно взять самостоятельно – такие вопросы с удовольствием играются индивидуально начинающими, иначе никакого феномена «знатоков перед
    телевизором», наверное, и не было бы.
</p>
<br/>
<p>
    Мы предлагаем вам публиковать материалы проекта «Вопрос дня» в своей группе ВКонтакте, Фейсбуке, ЖЖ и/или других информационных ресурсах. Свяжитесь с нами
    по адресу <a href="mailto:mindpowergame.com@gmail.com">mindpowergame.com@gmail.com</a> и мы расскажем, как использовать наши материалы с максимальной отдачей (как
    их публиковать и так далее).
</p>
</div>
</div>
</div>
</div>
</div>
