<% provide(:title, "Играть Вопрос дня") %>
<style>

#quest_text{
  font-size: 18px;
}

#quest_img{
  max-height: 250px;
}

body{
  /*background: url(<%= asset_path("bg.jpg") %>);*/
  background-size: cover;
}

body > .navbar {
  /*opacity: 0.6;
  background: rgba(0,0,0,0);
  box-shadow: none !important;*/
}

.navbar-inverse .navbar-nav > li > a {
  /*color: #fff !important;*/
}

.navbar-inverse .navbar-nav > li > a:hover {
    /*color: #000000;*/
}

footer {
  box-shadow: none !important;
  background: none !important;
  border-top: none !important;
  opacity: 0.7;
  color: #fff;
}

footer .row {
    padding-bottom: 0 !important;
}

#zet{
  position: relative;
  padding: 0;
}

#zet h1 {
  width: 650px;
  color: #000;
  font-size: 47pt;
  font-family: 'pfhighway' !important;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#zet p {
  color: #000;
  font-size: 15pt;
  font-family: 'pfhighway' !important;
  line-height: 30px;
}

#zet #play {
  color: #fff;
  background: #BD9C7C;
  border-radius: 0;
  border: 1px solid #fff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 20px 75px;
  font-size: 27px;
  line-height: 1.3333333;
  border-radius: 6px;
}
</style>
<% unless current_question.nil? %>
<table class="table borderless">
<tbody>
  <tr id="contentz" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Инструкции, пояснения</p></td>
    <td id="content"></td>
  </tr>
  <tr id="quest_text" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Текст вопроса</p></td>
    <td><p><%= current_question.text %></p></td>
  </tr>
  <% unless current_question.image.url.nil? %>
  <tr id="quest_img" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Изображение-раздатка</p></td>
    <td><%= image_tag current_question.image.url %></td>
  </tr>
  <% end %>
  <tr id="timer" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Таймер</p></td>
    <td><div id="countdown1"></div><div id="countdown2"></div>
  </td>
  </tr>
  <tr id="answer" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Ваш ответ</p></td>
    <td>
    <div class="">
      <%= form_for([current_question, @answer], remote: true, :html => {style: 'display: none;'}) do |f| %>
        <%= f.text_area :text, disabled: true, class: "form-control", id: "answer_text" %><br/>
        <%= f.submit value: "Ответить", disabled: true, id: "Send", class: "btn btn-lg play" %>
      <% end %>
    </div>
    </td>
  </tr>
<tr id="register" style="display: none;"><div id="right"></div></tr>
</tbody>
</table>
<div id="jjj"></div>
  <div id="zet" class="col-lg-12">
      <p>Вам предлагается начать играть Вопрос дня на <%= current_question.time.strftime("%d.%m.%Y") %></p>
      <p>Перед началом игры обязательно ознакомьтесь с <a href="/faq/" target="_blank">ответами на важные вопросы</a>, чтобы понимать, как будет происходить игровой процесс после того, как вы нажмёте кнопку Играть.</p>
      <p><b>На данный момент поддерживается игра только с персональных компьютеров и ноутбуков под управлением Windows, Linux и MacOS X, игра с планшетов и смартфонов не поддерживается</b></p>
      <button id="play" class="btn btn-lg">Играть «Вопрос дня»!</button>
  </div>
  <audio src="/otbivka.mp3" id="otbivka"></audio>
  <br />
  <audio src="<%= current_question.audio.url %>" id="audio"></audio>

<script language="javascript">
//$("#play").click(function(){
$("#play").bind("click touchstart", function(){

    if(confirm("Вы действительно хотите начать играть этот вопрос? Второй попытки не будет.")){
      $.get('/check_time');
      $.get('/new_time');
      $("#contentz").show();
      $("#zet").css("display", "none");
      $("#wrapper").css("background", "#fff");
      $("#content").append("<p>Прослушайте текст вопроса.</p>");
      $("#quest_img").show();
      var a = document.getElementById("audio");
      a.play();
      this.remove();

      a.onended = function() {
        $("#content").html("");
        $("#content").append("<p>У вас есть 70 секунд (два таймера на 60 и 10 секунд), чтобы ответить на вопрос</p>");
        $.get('/new_time');
        $("#new_answer").css("display", 'block');
        $("#zet").hide();
        $("#answer_text").removeAttr("disabled");
        $("#answer").show();
        $("#timer").show();
        $("input[name='commit']").removeAttr("disabled");
        $('#countdown1').ClassyCountdown({
          theme: "flat-colors",
          labelsOptions: {
            lang: {
              seconds: "секунд"
            }
          },
          end: $.now() + 60
          });

        setTimeout(function(){
          $("#countdown1").remove();
          $("#countdown2").ClassyCountdown({
          theme: "flat-colors",
          labelsOptions: {
            lang: {
              seconds: "секунд"
            }
          },
          end: $.now() + 10
          });
        }, 60000);
        var otbivka = document.getElementById("otbivka");
        otbivka.play();
        $("#quest_text").show();

        setTimeout(function(){
          if ( $("#answer_text").val().length != 0){
            $("#new_answer").trigger('submit.rails');
          }
            $("#quest_text").remove();
            $("#countdown1").remove();
            $("#countdown1").remove();
            $("#quest_img").remove();
            $("#content").html("");
            //$("#content").append("<p>Ваш ответ \"" + $("#answer_text").val() + "\" принят. Правильный ответ вы узнаете завтра &mdash; после того, как станет доступен вопрос следующего дня.</p>");
            $("#new_answer").remove();
            <% if !current_user %>
              $("#content").append("<p>Для того, чтобы сохранить ответ под своим именем, пожалуйста, зарегистрируйтесь на сайте.</p>");
              $("#content").addClass("col-lg-6");
            <% end %>
            $("#content").append("<p>Спасибо за участие!</p>");
            <% unless current_user %>
        $("#right").show();
              $("#right").append("<%= j render template: '/devise/registrations/new' %>");
            <% end %>
            $("#content").append("<%= j render '/layouts/table', :locals => {:report => @report} %>")
            $("#timer").remove();
            $("#answer").remove();
        }, 70000);
      };

    }
  });
</script>

    
<% else %>
  <center><h1>В данный момент у нас нет вопросов</h1></center>
<% end %>
