<center>Группы <%= @vk.execute(code: "return API.groups.get();").count %></center>
<ul>
<%- groups = @vk.execute(code: "return API.groups.get();") %>
<%- @vk.execute(code: "return API.groups.getById({group_ids: #{groups}});").to_a.each do |group| %>
      <% a = @vk.execute(code: "return API.groups.getMembers({group_id: 1});").to_a %>
      <% membersGroups = [] %>
    <li><%= group.name %> <%= a[0][1] %></li>
      <ul>
        <% code = 'var members = API.groups.getMembers({"group_id": ' + group.gid.to_s + ', "v": "5.27", "sort": "id_asc", "count": "1000", "offset": ' + membersGroups.length.to_s + '}).items;' \
            +	'var offset = 1000;' \
            +	'while (offset < 25000 && (offset + ' + membersGroups.count.to_s + ') < ' + a[0][1].to_s + ')' \
            +	'{' \
                +	'members = members + "," + API.groups.getMembers({"group_id": ' + group.gid.to_s + ', "v": "5.27", "sort": "id_asc", "count": "1000", "offset": (' + membersGroups.length.to_s + ' + offset)}).items;' \
            +	'offset = offset + 1000;' \
            +	'};' \
            +	'return members;' %>
        <% @vk.execute(code: code).to_s.split(',').each do |u| %>
            <%= u %>
            <% Vkgroup.create!(group_id: group.gid.to_s, vk_id: u.to_s) %>
        <% end %>
      </ul>
    <% sleep 0.34 %>
<% end %>
</ul>