<% provide :title, "Авторизация" %>
                    <div class="col-lg-4">
<h2>Вход</h2>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, value: "Пароль" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, value: "Запомнить меня" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>