// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'pfhighway';
  src: font-url('pfhighway.ttf') format('truetype');
}

@media screen and (max-width: 1024px){
    .navbar-nav > li > a{
      padding-top: 16px !important;
      padding-bottom: 16px !important;
    }
}

* {
  font-family: 'pfhighway' !important;
}

#quest_text {
  margin-top: 100px;
  margin-left: 50px;
}

