    <% if current_user.is_admin? %>
<p id="notice"><%= notice %></p>

<h1>Listing Subscribes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribes.each do |subscribe| %>
      <tr>
        <td><%= subscribe.id %></td>
        <td><%= subscribe.email %></td>
        <td><%= link_to 'Show', subscribe %></td>
        <td><%= link_to 'Edit', edit_subscribe_path(subscribe) %></td>
        <td><%= link_to 'Destroy', subscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscribe', new_subscribe_path %>
    <% end %>
