<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tech_comment %><br>
    <%= f.text_area :tech_comment %>
  </div>
  <div class="field">
    <%= f.label :tech_rate %><br>
    <%= f.number_field :tech_rate %>
  </div>
  <div class="field">
    <%= f.label :audio_comment %><br>
    <%= f.text_area :audio_comment %>
  </div>
  <div class="field">
    <%= f.label :audio_rate %><br>
    <%= f.number_field :audio_rate %>
  </div>
  <div class="field">
    <%= f.label :question_comment %><br>
    <%= f.text_area :question_comment %>
  </div>
  <div class="field">
    <%= f.label :question_rate %><br>
    <%= f.number_field :question_rate %>
  </div>
  <div class="field">
    <%= f.label :equip_comment %><br>
    <%= f.text_area :equip_comment %>
  </div>
  <div class="field">
    <%= f.label :sentence %><br>
    <%= f.text_area :sentence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
