<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>
<table class="table table-bordered">
  <tbody>
      <tr>
        <td>Качество технической стороны:</td>
        <td><%= @reports.average(:tech_rate) %></td>
      </tr>
      <tr>
        <td>Качество аудиозаписи:</td>
        <td><%= @reports.average(:audio_rate) %></td>
      </tr>
      <tr>
        <td>Качество вопроса:</td>
        <td><%= @reports.average(:question_rate) %></td>
      </tr>
  </tbody>
</table>
<br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Question</th>
      <th>User</th>
      <th>Tech rate</th>
      <th>Audio rate</th>
      <th>Qiestion rate</th>
      <th>Devise</th>
<<<<<<< HEAD
      <th>Delete</th>
      <td>Time</td>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.id, report_path(report) %></td>
        <td><%= report.question.id %></td>
        <td><%= report.user.name %> <%=report.user.surname %>(<%= report.user.id %>)</td>
        <td><%= report.tech_rate %></td>
        <td><%= report.audio_rate %></td>
        <td><%= report.question_rate %></td>
        <td><%= link_to report.equip_comment, report_path(report) %></td>
        <td><%= link_to 'Удалить', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= report.created_at.strftime("%d.%m.%Y, в %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
