<p id="notice"><%= notice %></p>

<p>
  <strong>Tech comment:</strong>
  <%= @report.tech_comment %>
</p>

<p>
  <strong>Tech rate:</strong>
  <%= @report.tech_rate %>
</p>

<p>
  <strong>Audio comment:</strong>
  <%= @report.audio_comment %>
</p>

<p>
  <strong>Audio rate:</strong>
  <%= @report.audio_rate %>
</p>

<p>
  <strong>Question comment:</strong>
  <%= @report.question_comment %>
</p>

<p>
  <strong>Question rate:</strong>
  <%= @report.question_rate %>
</p>

<p>
  <strong>Equp comment:</strong>
  <%= @report.equip_comment %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @report.sentence %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
