<% if current_user && !session['vk_token'].nil? %>
    <h3>Пригласите своих друзей</h3>
    <ul>
      <% @vk = VkontakteApi::Client.new(session['vk_token']) %>
      <% friends = @vk.execute(code: 'return API.friends.get(' + current_user.vk + ');').to_a %>
      <% @vk.execute(code:'return API.users.get({user_ids: ' + friends.to_s + ', fields: "online"});').sort_by{ |friend| Vkgroup.where(:vk_id => friend.uid).count }.reverse.each do |f| %>
          <% unless Vkgroup.where(:vk_id => f.uid).empty? %>
              <li>
                <%= f.first_name %> <%= f.last_name %>
                <%  if f.online == 1 %>
                    онлайн
                <% end %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>