<% @report = Report.new %>

<table class="table borderless">
<tbody>
  <tr id="contentz" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Инструкции, пояснения</p></td>
    <td id="content"></td>
  </tr>
  <tr id="quest_text" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Текст вопроса</p></td>
    <td><p><%= current_question.text %></p></td>
  </tr>
  <tr id="quest_img" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Изображение-раздатка</p></td>
    <td><%= image_tag current_question.image.url %></td>
  </tr>
  <tr id="timer" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Таймер</p></td>
    <td><div id="countdown1"></div><div id="countdown2"></div>
  </td>
  </tr>
  <tr id="answer" style="display: none;">
    <td class="col-md-2"><p class="label label-primary">Ваш ответ</p></td>
    <td>
    <div class="">
      <%= form_for([current_question, @answer], remote: true, :html => {style: 'display: none;'}) do |f| %>
        <%= f.text_area :text, disabled: true, class: "form-control", id: "answer_text" %><br/>
        <%= f.submit value: "Ответить", disabled: true, id: "Send", class: "btn btn-lg play" %>
      <% end %>
    </div>
    </td>
  </tr>
<tr id="register" style="display: none;"><div id="right"></div></tr>
</tbody>
</table>
<%= form_for(@report, remote: true) do |f| %>
<table class="table borderless">
        <tr>
            <td colspan=2><p class="label label-success">Пожалуйста, помогите нам улучшить наш проект:</p></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Техническая реализация: комментарий</p></td>
            <td><p>Опишите, все ли корректно отображалось и проигралось, насколько вам понравилась техническая реализация проекта.</p>
                <%= f.text_area :tech_comment, cols: "2", class: "form-control" %>
            </td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Оцените техническую реализацию:</p></td>
            <td><%= select("report", "tech_rate", (1..5).to_a, { include_blank: false}, class: "form-control") %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Качество аудиозаписи: комментарий</p></td>
            <td><p>Хорошо ли было слышно ведущего, были ли на аудиозаписи посторонние шумы?</p>
		<%= f.text_area :audio_comment, cols: 2, class: "form-control" %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Оцените качество аудиозаписи</p></td>
            <td><%= select("report", "audio_rate", (1..5).to_a, { include_blank: false}, class: "form-control") %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Качество вопроса: комментарий</p></td>
            <td><p>Понравился ли вам вопрос, вписывается ли он в ваше понимание "хорошего вопроса"?.</p>
		<%= f.text_area :question_comment, cols: 2, class: "form-control" %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Оцените вопрос</p></td>
            <td><%= select("report", "question_rate", (1..5).to_a, { include_blank: false}, class: "form-control") %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Используемое оборудование.</p></td>
            <td><p>Укажите, пожалуйста, с какого устройства заходите (ПК, ноутбук, планшет, телефон), операционную систему (Windows, Linux, MacOS, iOS, Android, ...), браузер, разрешение экрана (если знаете)</p>
		<%= f.text_area :equip_comment, cols: 2, class: "form-control" %></td>
        </tr>
        <tr>
            <td class="col-md-3"><p class="label label-primary">Предложения и пожелания как улучшить вопрос</p></td>
            <td><%= f.text_area :sentence, cols: 2, class: "form-control" %></td>
        </tr>
    </table>
    <%= f.hidden_field :question_id, value: current_question.id %>
    <center><%= f.submit value: "Отправить", class: "btn btn-lg btn-primary" %></center>
<% end %>